@font-face {
  font-family: 'holberton-icon';
  src:
    url('/holberton_school-icon/fonts');
  src:
    url('/holberton_school-icon/fonts/holberton_school-icon.ttf') format('embedded-opentype'),
    url('/holberton_school-icon/fonts/holberton_school-icon.ttf') format('truetype'),
    url('/holberton_school-icon/fonts/holberton_school-icon.woff') format('woff'),
    url('/holberton_school-icon/fonts/holberton_school-icon.svg') format('svg');
}

:root {
  --primary-color: #C271FF;
  --secondary-color: #071629;

  --color-white: #fff;
  --color-white-transparent: #ffffffb6;
  --grey-light: #afafaf;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

.text-color-main {
  color: var(--primary-color);
}

.bg-color-secondary {
  background-color: var(--secondary-color);
}

/** HERO IMAGE */
.hero-img {
  background: url("/images/pic_1.jpg") center no-repeat fixed;
  background-size: cover;
}

/** BTN */
.btn-color,
.section-carousel {
  background-color: var(--primary-color);
}
.btn-color:hover {
  opacity: 0.9;
}

/** HEADER */

header div .logo {
  width: fit-content;
  margin: 0 auto;
}

header div .logo .logo-smile {
  width: 4.5rem;
}

header div .logo .logo-text {
  width: 15rem;
}

.burgerIcon {
  top: 2rem;
  cursor: pointer;
}

[aria-expanded="true"]::before,
[aria-expanded="false"]::before {
  font-size: 3.3rem;
  color: var(--color-white);
}

[aria-expanded="true"]::before {
  content: "\00D7";
  font-weight: bold;
}

[aria-expanded="false"]::before {
  content: "\e911";
  font-family: holberton-icon;
}

.nav-item-link {
  font-size: 1.4rem;
}

/** HERO SECTION */

.hero-content h1{
  font-size: 6rem;
}

.hero-content div p,
.card-body h5,
.membership-articles img + p {
  font-size: 1.5rem;
}

.hero-content a,
.membership-section div a {
  font-size: 1.4rem;
  text-decoration: none;
}

.hero h2 {
  font-size: 3rem ;
}

/** HERO ARTICLES */

.hero-articles img {
  width: 16rem;
}

.hero-articles article img + p,
.carousel-content .content-text + p {
  font-size: 1.8rem;
}

.hero-articles article img + p + p,
.carousel-content .content-text + p + p {
  font-size: 1.3rem;
}

@media (max-width: 425px) {
  .col-6 {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }
}

/** SECTION CAROUSEL */

.carousel-content img {
  width: 14rem;
}

.carousel a > img {
  width: 3.6rem;
}

.video {
  top: 3rem;
  left: 6rem;
  padding: 2.4rem;
  background-color: var(--color-white-transparent);
  transform: rotate(-90deg);
}

.video-play {
  width: 0;
  height: 0;
  top: 1.8rem;
	border-left: 1rem solid transparent;
  border-top: 2rem solid var(--primary-color);
  border-right: 1rem solid transparent;
}

.carousel-content .content-text {
  font-size: 2rem;
}

.section-courses .card {
  width: 20rem;
  margin: 0 auto;
}

.section-courses .card .card-img-top {
  width: 100%;
}

.section-courses .card-review-img img {
  width: 3rem;
}

.section-courses .card-review-img p,
.card-body p,
.membership-articles img + p + p {
  font-size: 1.2rem;
}

.calification-star img {
  width: 1.5rem;
}

/** MEMBERSHIP SECTION */

.membership-articles img {
  width: 4rem;
}
